doctype html
html

  //- Head
  include core/head

  //- Body
  body

    // Header
    include lib/header

    // Page Container
    .page

      // Hero
      section(class='hero')
        +container('true'): +row: +col(12)

          // Hero Text
          div(class='hero-text')
            h1(animation-id='1') I'm Andy Tran.
            p(animation-id='2') Hello, I am a self-taught front-end website developer. Sailing through life, I unexpectedly developed a strong passion for website development in which I use to help the community around me. I spend at least 12 hours a day, pouring my heart into code. You can often find me doing random pens on CodePen!
            a(class='btn alt'
               href='/portfolio'
               data-anchor='true'
               ripple
               ripple-color='#{accent}'
               animation-id='3') View Portfolio

      // Reasons
      section(class='reasons')
        +container: +row
          +col(4)

            // Blurb
            +blurb('like', 'Passionate', 'When it comes to writing clean & beautiful code, you\'ll see a whole new side of me! Spending over 12 hours pouring myself into code, that\'s what you call passionate!' , '4')

          +col(4)

            // Blurb
            +blurb('gleam', 'Lightning Fast', 'As many of us say, time is money. Which is why everything I work on is done in the most clean & efficient way so that I never miss a deadline!', '5')

          +col(4)

            // Blurb
            +blurb('light', 'Creative', 'Creativity flows in all of us, me included. If I\'m not coding, I\'m most likely off somewhere letting my creativity loose and brainstroming ideas of what to work on next!', '6')

      .test Content Coming Soon

      section(class='testimonials')
        +container: +row: +col(12)
          blockquote(class='testimonial')
            p(class='quote') Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            span(class='meta')
              div(class='avatar'): img(src='assets/img/avatar.png')
              a(href='#') Andy Tran

      //- Footer
      include lib/footer

  //- Foot
  include core/foot