template(name='home')
  section(class='reasons')
    div(class='container'): div(class='row')
      div(class='col col-4')

        // Blurb
        div(class='blurb'
            animation-id='4')
          i(class='icon pe-7s-like')
          h4(class='title') Passionate
          p When it comes to writing clean &amp; beautiful code, you'll see a whole new side of me! Spending over 12 hours pouring myself into code, that's what you call passionate!

      div(class='col col-4')
        // Blurb
        div(class='blurb'
            animation-id='5')
          i(class='icon pe-7s-gleam')
          h4(class='title') Lightning Fast
          p As many of us say, time is money. Which is why everything I work on is done in the most clean &amp; efficient way so that I never miss a deadline!

      div(class='col col-4')
        // Blurb
        div(class='blurb'
            animation-id='6')
          i(class='icon pe-7s-light')
          h4(class='title') Creative
          p Creativity flows in all of us, me included. If I'm not coding, I'm most likely off somewhere letting my creativity loose and brainstroming ideas of what to work on next!

  section(class='case-study'
          id='case-study-10'
          style='background-color: #3498DB; background-image: url("img/post/post-1.png");')
    div(class='container'): div(class='row')
      div(class='col-6')
        .date
          b August
          | 2013
        h2.title Maverick - Apps &amp; Software Landing Page
        p.excerpt Mavericks is a 1 week collaborative project with Justin Kwak. Together, we built what is known as “Mavericks - App & Software Landing Page”. Mavericks is built with Bootstrap 2.3 and features a one-page navigation, which allows visitors to scroll to certain sections on the page with ease.
        a(class='btn'
          href='#'
          ripple=''
          ripple-color='#3498DB'
          style='color: #3498DB;') Read More
        a(class='btn border'
          href='#'
          ripple=''
          ripple-color='#FFFFFF') View Demo