template(name='nav')
  nav(class='nav'): ul
    each items
      if isResume
        li: a(href=path)=name
      else
        li: a(class=isActive
              href=pathFor(name))=name

template(name='mobileNav')
  nav(class='nav nav-bottom'): ul
    each items
      if isResume
        li: a(href=path
              ripple=''
              ripple-color='#2196F3')
          i(class='icon pe-7s-#{icon}')
          =name
      else
        li: a(class=isActive
              href=pathFor(name)
              ripple=''
              ripple-color='#2196F3')
          i(class='icon pe-7s-#{icon}')
          =name