//- Container
mixin container(fluid)
  if !fluid
    .container
      block
  else
    .container(fluid)
      block

//- Row
mixin row
  .row
    block

//- Column
mixin col(columns)
  div(class='col col-#{columns}')
    block

//- Material Icon
mixin icon(name, type)
  if type == 'thin'
    i(class='icon pe-7s-#{name}')
  else if type == 'fa'
    i(class='fa fa-#{name}')
  else
    i(class='icon material-icons')=name

//- Blurb
mixin blurb(icon, title, description, animation)
  div(class='blurb'
      animation-id=animation)
    +icon(icon, 'thin')
    h4(class='title')=title
    p=description

//- Testimonial
mixin testimonial(quote, author, url, active)
  blockquote(class=active ? 'testimonial active': 'testimonial')
    p(class='quote')=quote
    span(class='meta')
      div(class='avatar'): img(src='assets/img/avatar.png')
      a(href=url)=author