section(class='hero')
  +container: +row: +col(12)

    // Hero Text
    div(class='hero-text')
      h1(animation-id='1')
        span(class='greetings')
      p(animation-id='2') A kick-ass front-end website developer based in San Jose, CA.
      a(class='btn alt'
         href='http://about.me/andy.tran'
         data-anchor='true'
         ripple
         ripple-color='#{accent}'
         animation-id='3') Learn More