doctype html
html

  //- Head
  include core/head

  //- Body
  body

    // Header
    include lib/header

    // Hero
    include lib/hero

    // Page Container
    .page

      // Reasons
      section(class='reasons')
        +container: +row
          +col(4)

            // Blurb
            +blurb('like', 'Passionate', 'When it comes to writing clean & beautiful code, you\'ll see a whole new side of me! Spending over 12 hours pouring myself into code, that\'s what you call passionate!' , '4')

          +col(4)

            // Blurb
            +blurb('gleam', 'Lightning Fast', 'As many of us say, time is money. Which is why everything I work on is done in the most clean & efficient way so that I never miss a deadline!', '5')

          +col(4)

            // Blurb
            +blurb('light', 'Creative', 'Creativity flows in all of us, me included. If I\'m not coding, I\'m most likely off somewhere letting my creativity loose and brainstroming ideas of what to work on next!', '6')

      section(class='information')
        +container: +row
          +col(1)
          +col(3)
            img(class='codepen'
                src='http://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-Black-Large.png'
                animation-id='6')
          +col(1)
          +col(6)
            h3(class='title'
               animation-id='7') CodePen Enthusiast
            p(class='description'
              animation-id='8') A majority of my freetime is spent on CodePen. Either looking at all the amazing <a href='http://codepen.io/pens/'>pens</a> or reading through <a href='http://codepen.io/posts/'>tutorials</a>.  A lot of my work is created with CodePen. For example, a lot of the animations, widgets, and modules for <a href='http://www.elegantthemes.com/blog/theme-sneak-peeks/a-closer-look-at-extra'>Extra</a> was built in CodePen!
            a(class='btn inverse'
               href='http://codepen.io/andytran'
               data-anchor='true'
               ripple
               ripple-color='#FFF'
               animation-id='9') LEARN MORE

      section(class='testimonials')
        +container: +row: +col(12)
          div(class='testimonials-wrapper')
            +testimonial('Andy did a wonderful job when coding my website. 2 hours after sending him my design, I was able to launch my website. Fast, clean & AMAZING!', 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/pic.jpg', 'Justin Kwak, Freelance Designer', '#', true)
          a(class='testimonials-prev'
            href='#'): +icon('navigate_before')
          a(class='testimonials-next'
            href='#'): +icon('navigate_next')

      //- Footer
      include lib/footer

  //- Foot
  include core/foot