template(name='header')
  header(class='header')
    a(class='brand'
      href='{{pathFor "Home"}}')
      svg(class='logo'
          version='1.1'
          xmlns='http://www.w3.org/2000/svg'
          xmlns:xlink='http://www.w3.org/1999/xlink'
          x='0px'
          y='0px'
          viewBox='0 0 116 119'
          style='enable-background:new 0 0 116 119;'
          xml:space='preserve')
        defs
          filter(x='-50%'
                 y='-50%'
                 width='200%'
                 height='200%'
                 filterUnits='objectBoundingBox'
                 id='filter-1')
            feOffset(dx='0'
                     dy='2'
                     in='SourceAlpha'
                     result='shadowOffsetOuter1')
            feGaussianBlur(stdDeviation='1'
                           in='shadowOffsetOuter1'
                           result='shadowBlurOuter1')
            feColorMatrix(values='0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.07 0'
                          in='shadowBlurOuter1'
                          type='matrix'
                          result='shadowMatrixOuter1')
            feMerge
              feMergeNode(in='shadowMatrixOuter1')
              feMergeNode(in='SourceGraphic')
        g(id='Favicon'
          stroke='none'
          stroke-width='1'
          fill='#FFF'
          fill-rule='evenodd'
          filter='url(#filter-1'
          transform='translate(-32.000000, -32.000000)')
          path(d='M92.1963144,34.5032014 C90.9838994,32.0161519 89.0223608,32.0075171 87.805693,34.5032014 L33.6953498,145.496799 C32.4828916,147.983848 33.0647615,148.407617 35.0060053,146.432106 L90.00104,90.4662893 L144.994119,146.432106 C146.930364,148.402599 147.521353,147.992483 146.304728,145.496799 L92.1963144,34.5032014 Z')

    +nav