section(class='hero')
  +container: +row: +col(12)

    // Hero Text
    div(class='hero-text')
      h1(animation-id='1') Hey-oh! I am Andy.
      p(animation-id='2') I am a passionate self-taught front-end website developer that loves to spend hours writing beautiful code on CodePen.
      a(class='btn alt'
         href='/portfolio'
         data-anchor='true'
         ripple
         ripple-color='#{accent}'
         animation-id='3') View Portfolio