template(name='home')
  section(class='reasons')
    div(class='container'): div(class='row')
      div(class='col col-4')

        // Blurb
        div(class='blurb'
            animation-id='4')
          i(class='icon pe-7s-like')
          h4(class='title') Passionate
          p When it comes to writing clean &amp; beautiful code, you'll see a whole new side of me! Spending over 12 hours pouring myself into code, that's what you call passionate!

      div(class='col col-4')
        // Blurb
        div(class='blurb'
            animation-id='5')
          i(class='icon pe-7s-gleam')
          h4(class='title') Lightning Fast
          p As many of us say, time is money. Which is why everything I work on is done in the most clean &amp; efficient way so that I never miss a deadline!

      div(class='col col-4')
        // Blurb
        div(class='blurb'
            animation-id='6')
          i(class='icon pe-7s-light')
          h4(class='title') Creative
          p Creativity flows in all of us, me included. If I'm not coding, I'm most likely off somewhere letting my creativity loose and brainstroming ideas of what to work on next!

  section(class='case-study'
          id='case-study-10'
          style='background-color: #3498DB; background-image: url("img/post/post-1.png");')
    div(class='container'): div(class='row')
      div(class='col col-6')
        .date
          b August
          | 2013
        h2.title Maverick - Apps &amp; Software Landing Page
        p.excerpt Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        a(class='btn'
          href='#'
          ripple=''
          ripple-color='#3498DB'
          style='color: #3498DB;') Read More
        a(class='btn border'
          href='#'
          ripple=''
          ripple-color='#FFFFFF') View Demo

  section(class='case-study light-background'
          id='case-study-10'
          style='background-image: url("img/post/post-2.png");')
    div(class='container'): div(class='row')
      div(class='col col-6')
        .date
          b June
          | 2014
        h2.title(style='color: #49D2BD;') Gently
        p.excerpt Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        a(class='btn'
          href='#'
          ripple=''
          ripple-color='#FFFFFF'
          style='background-color: #49D2BD; color: #FFFFFF;') Read More
        a(class='btn border'
          href='#'
          ripple=''
          ripple-color='#49D2BD'
          style='box-shadow: 0 0 0 1px #49D2BD; color: #49D2BD;') View Demo

  section(class='case-study'
          id='case-study-10'
          style='background-color: #3E5062; background-image: url("img/post/post-3.png");')
    div(class='container'): div(class='row')
      div(class='col col-6')
        .date
          b December
          | 2015
        h2.title Extra - A Magazine WordPress Theme
        p.excerpt Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.
        a(class='btn'
          href='#'
          ripple=''
          ripple-color='#3E5062'
          style='color: #3E5062;') Read More
        a(class='btn border'
          href='#'
          ripple=''
          ripple-color='#FFFFFF') View Demo