template(name='nav')
  nav.nav: ul
    each items
      if isResume
        li: a(href=path)=name
      else if isContact
        li(class=isActive): a(class='btn'
              href=pathFor(name)
              ripple=''
              ripple-color='#FFF') Hire Me
      else
        li(class=isActive): a(href=pathFor(name))=name